// Definición de colores 

$bg-screen:hsl(237, 49%, 15%);

//Primarios
$Scissors-bg: hsl(40, 84%, 53%);
$Paper-bg:    hsl(230, 89%, 65%);
$Rock-bg:     hsl(349, 70%, 56%);


//Neutral
$white:      #ffffff;
$Dark-Text:  hsl(229, 25%, 31%);
$Score-Text: hsl(229, 64%, 46%);
$Header-Outline: hsl(217, 16%, 45%);