@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
@import "./colors";

.pantalla-jugando{
    transition: all 0.5s;
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.contenedor-boton{
    margin: auto;
    width: 19.4375rem;
    
    display: flex;
    justify-content: space-between;
}

.juego-op{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.juego-op > span{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 1.88px;
    margin-top: 17px;
    color: $white ;
}

.mensaje-resultado{
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mensaje-h2{
    font-size: 56px;
    font-weight: 700;
    color: $white;
    margin: 0;
    margin-bottom: 16px;
}
.mensaje-btn{
    font-size: 16px;
    letter-spacing: 2.5px;
    color: #3B4262;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    width: 220px;
    height: 48px;
    box-shadow: 0 3px 3px 0 RGBA(0, 0, 0, 0.2);
    cursor: pointer;
}


@media only screen and (min-width: 720px) {
    .pantalla-jugando{
        transition: all 0.5s;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
    }
    .contenedor-boton{
        width: 937px;
    }
    .mensaje-resultado{
        position: absolute;
    }
    .juego-op{
        flex-direction: column-reverse;
    }
    .juego-op > span{
        font-size: 24px;
        letter-spacing: 3px;
        margin-bottom: 60px;
    }
}