@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
@import url("./_colors.scss");



body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    padding: 32px;
    height: 100%;
}

main{
    width: 100%;
    max-width: 476px;
    margin: auto;
    margin-top: 6.375rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0.875rem;
    background-image: url("../images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 52% ;
    transition: all 0.5s;
}


.boton:nth-child(2){
    display: flex;
    justify-content: flex-end;
}
.boton:nth-child(3){
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

.attribution { 
    width: 300px;
    font-size: 11px; text-align: center; 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.attribution a { color: hsl(228, 17%, 35%)}

@media only screen and (min-width: 425px) {
    
    main{
        background-size: 60%;
        background-position: 50%; 
        max-width: 330px;
    }
}

@media only screen and (min-width: 720px) {
    main{
        background-size: 60%;
        background-position: 50%; 
        max-width: 476px;
        max-height: 430px;
        margin-top: 64px;
    }
    .contenedor-btn-rules{
        display: flex;
        justify-content: flex-end;
    }
    .btn-rules{
        margin: 0;
    }
    .attribution{
        display: none;
    }
}